<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <title>SYSTEM NAME</title>
</head>
<body>
  <!--[if lt IE 9]>
  <style>
  body {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    color: #666;
    padding: 50px 0;
  }
  h2 {
    font-size: 18px;
    font-weight: normal;
    text-align: center;
  }
  a {
    color: #42a5f5;
  }
  </style>
  <h2>您使用的浏览器版本较低，请使用现代浏览器，推荐使用 chrome，<a href="http://sw.bos.baidu.com/sw-search-sp/software/a7958cfcdbd6e/ChromeStandalone_53.0.2785.116_Setup.exe">立即下载</a></h2>
  <![endif]-->
  <div id="app"></div>
  <script src="/static/app.js"></script>
</body>
</html>