@import '~normalize.css';

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin-top: 1.3em;
  margin-bottom: 1em;
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

a {
  color: #42a5f5;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

body {
  font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #666;
  font-size: 12px;
  line-height: 1.5;
}

.wrapper {
  animation: wrapper--fade .25s cubic-bezier(.455,.03,.515,.955);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

@keyframes wrapper--fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #fff;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: none;
}
